<!DOCTYPE html>
<html lang="en">
<head>
    <title>Real Promo</title>
    <link rel="stylesheet" src="/wwwroot/css/main.css" />
    <link href="~/css/main.css" rel="stylesheet" />
    @RenderSection("Css", false)
</head>
<body>
    @RenderBody()
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/site.js"></script>

</body>

</html>
